<div class = 'row-fluid'>
  <div class = 'offset5'>
    <h1>New post</h1>
    </div>
    <div class = 'span11'>

      <img src = "/images/user.jpeg" alt = 'some picture' class = "unknow_user_img pull-right"/>
        <%= render 'form' %>

    </div>
</div>