/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require scaffolds
 */
.home{
    margin-left:10px;
    margin-right:10px;
}
.post_header{

      color:green;

      border-radius: 10px;
}
.welc{
    color:white;
    text-shadow:0px 0px 20px green;
    text-transform: uppercase;
    position:absolute;
    margin-top:160px;
    margin-left:310px;
}
.post_body{
    padding:5px;
}
.post_body:nth-child(odd){
    background-color:lightblue;
    border:1px solid lightgrey;
    border-radius:5px;
    box-shadow:0px 0px 5px lightgrey;
}
.unknow_user_img{
  position:absolute;

}
textarea{
    resize: none;" cols="30" rows="3"
}
.footer{
    margin:20px 0 20px 0;
    background-color:#363636;
}
.tag_box{
    padding:2px;
    background-color:#D9F8FA;
    border:1px solid #93F0F5;
    border-radius:5px;
    box-shadow:0px 0px 5px lightgrey;
}
.tag-side {
    margin:20px;
}

#all_titles {

    position: absolute;
    padding:10px;
    right:50px;
    top:600px;

}
#all_titles .all_titles{
    width:300px;
    height:200px;
    overflow-y:hidden;
    background-color:#D9F8FA;
    border:1px solid lightblue;
    border-radius:5px;
    box-shadow:0px 0px 5px lightblue;
}
#all_titles h5{
    margin-left:60px;
}
#countapproved{
    color:lightgreen;
}
#countwait{
    color:orange;
}
#countwarning{
    color:lightcoral;
}
.comments-box{
    border:1px solid lightgrey;
    border-radius:5px;
    box-shadow:0px 0px 5px lightgrey;
}